*.in
*.out
*input*
*output*
*result*
in.txt
out.txt
*.exe
*.zip
*.rar
*.pdf
*.docx
*.doc
*.pptx
*.ppt
*.input
*.output
*.dpr
*.ans
*.pas
高中-其他
*.tar.gz
*.json
*.xlsx
1.cmd
1.txt
2.txt
3.txt
delete_o_exe.bat
A.txt
B.txt
*.cmd